@model TermsOfServiceViewModel

<h1>Terms of Service Agreements (@Model.AgreementCount)</h1>
<p></p>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.AgreementName</h3>
    </div>

    <div class="panel-body">
        @Html.Raw(Model.HtmlContents)
    </div>
</div>

<form asp-route="Index">
    <button class="btn btn-primary" name="btnAccept" id="btnAccept" value="btnAccept">Accept</button>
    <button class="btn btn-default" name="btnReject" id="btnReject" value="btnReject">Reject</button>

    <input type="hidden" name="RedirectUrl" id="RedirectUrl" value="@Model.ReturnUrl" />
    <input type="hidden" name="TermsOfServiceId" id="TermsOfServiceId" value="@Model.TermsOfServiceId" />
    <button class="btn btn-default" name="btnContinueWithRedirect" id="btnContinueWithRedirect" value="btnContinueWithRedirect">Continue with Redirect</button>
</form>
@section scripts {
    <script src="~/js/terms-of-service.js"></script>
}
